<resources>
	<properties>
		<property id="d" type="number">5000</property>
		<property id="t" type="string">26:07</property>
		<property id="c" type="boolean">true</property>
		<property id="m1" type="number">0</property>
		<property id="m2" type="number">1</property>
		<property id="m3" type="number">4</property>
		<property id="m4" type="number">8</property>
		<property id="m5" type="number">7</property>
		<property id="m6" type="number">5</property>
		<property id="pm" type="number">5</property>
		<property id="cm" type="number">5</property>
		<property id="hm" type="number">-1</property>
		<property id="pwm" type="number">5</property>
	</properties>
	<strings>
		<string id="goalDistanceTitle">Goal distance (in meters)</string>
		<string id="goalDistancePrompt">e.g. 8000 for 8K</string>
		<string id="goalDistanceErrorMessage">Must be less than 999,999</string>
		
		<string id="goalTargetTimeTitle">Goal target time (hh:mm:ss)</string>
		<string id="goalTargetTimePrompt">e.g. 25:00</string>
		
		<string id="colourTextTitle">Colour text (green if on target, red if not)</string>
		
		<string id="topMetric1Title">Top metric 1</string>
		<string id="topMetric2Title">Top metric 2</string>
		<string id="middleMetric1Title">Middle metric 1</string>
		<string id="middleMetric2Title">Middle metric 2</string>
		<string id="bottomMetric1Title">Bottom metric 1</string>
		<string id="bottomMetric2Title">Bottom metric 2</string>
		
		<string id="metricNoneTitle">None</string>
		<string id="metricHeartRateTitle">Heart rate</string>
		<string id="metricCadenceTitle">Cadence</string>
		<string id="metricPowerTitle">Power</string>
		<string id="metricPaceTitle">Pace</string>
		<string id="metricPaceDeltaTitle">Pace (+/- from target)</string>
		<string id="metricCaloriesTitle">Calories</string>
		<string id="metricElapsedDistanceTitle">Elapsed distance</string>
		<string id="metricRemainingDistanceTitle">Remaining distance</string>
		<string id="metricPredictedTimeTitle">Predicted finish time</string>
		<string id="metricPredictedTimeDeltaTitle">Predicted time (+/- from target)</string>
		<string id="metricTimerTimeTitle">Elapsed time</string>
		
		<string id="heartRateModeTitle">Heart rate mode</string>
		<string id="cadenceModeTitle">Cadence mode</string>
		<string id="powerModeTitle">Power mode</string>
		<string id="paceModeTitle">Pace mode</string>
		
		<string id="modeCurrent">Current</string>
		<string id="modeAverage">Average</string>
		<string id="mode3Seconds">Average (last 3 seconds)</string>
		<string id="mode5Seconds">Average (last 5 seconds)</string>
		<string id="mode10Seconds">Average (last 10 seconds)</string>
		<string id="mode30Seconds">Average (last 30 seconds)</string>
		<string id="mode60Seconds">Average (last 60 seconds)</string>
	</strings>
	<settings>
		<setting propertyKey="@Properties.d" title="@Strings.goalDistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.t" title="@Strings.goalTargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="alphaNumeric" maxLength="9" />
		</setting>
		
		<setting propertyKey="@Properties.c" title="@Strings.colourTextTitle">
			<settingConfig type="boolean" />
		</setting>
		
		<setting propertyKey="@Properties.m1" title="@Strings.topMetric1Title">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.m2" title="@Strings.topMetric2Title">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.metricNoneTitle</listEntry>
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.m3" title="@Strings.middleMetric1Title">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.m4" title="@Strings.middleMetric2Title">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.metricNoneTitle</listEntry>
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.m5" title="@Strings.bottomMetric1Title">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.m6" title="@Strings.bottomMetric2Title">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.metricNoneTitle</listEntry>
	            <listEntry value="0">@Strings.metricHeartRateTitle</listEntry>
	            <listEntry value="1">@Strings.metricCadenceTitle</listEntry>
	            <listEntry value="2">@Strings.metricPowerTitle</listEntry>
	            <listEntry value="3">@Strings.metricCaloriesTitle</listEntry>
	            <listEntry value="4">@Strings.metricPaceTitle</listEntry>
	            <listEntry value="5">@Strings.metricPaceDeltaTitle</listEntry>
	            <listEntry value="6">@Strings.metricElapsedDistanceTitle</listEntry>
	            <listEntry value="7">@Strings.metricRemainingDistanceTitle</listEntry>
	            <listEntry value="8">@Strings.metricPredictedTimeTitle</listEntry>
	            <listEntry value="9">@Strings.metricPredictedTimeDeltaTitle</listEntry>
	            <listEntry value="10">@Strings.metricTimerTimeTitle</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.pm" title="@Strings.paceModeTitle">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.modeCurrent</listEntry>
	            <listEntry value="0">@Strings.modeAverage</listEntry>
	            <listEntry value="3">@Strings.mode3Seconds</listEntry>
	            <listEntry value="5">@Strings.mode5Seconds</listEntry>
	            <listEntry value="10">@Strings.mode10Seconds</listEntry>
	            <listEntry value="30">@Strings.mode30Seconds</listEntry>
	            <listEntry value="60">@Strings.mode60Seconds</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.cm" title="@Strings.cadenceModeTitle">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.modeCurrent</listEntry>
	            <listEntry value="0">@Strings.modeAverage</listEntry>
	            <listEntry value="3">@Strings.mode3Seconds</listEntry>
	            <listEntry value="5">@Strings.mode5Seconds</listEntry>
	            <listEntry value="10">@Strings.mode10Seconds</listEntry>
	            <listEntry value="30">@Strings.mode30Seconds</listEntry>
	            <listEntry value="60">@Strings.mode60Seconds</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.hm" title="@Strings.heartRateModeTitle">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.modeCurrent</listEntry>
	            <listEntry value="0">@Strings.modeAverage</listEntry>
	            <listEntry value="3">@Strings.mode3Seconds</listEntry>
	            <listEntry value="5">@Strings.mode5Seconds</listEntry>
	            <listEntry value="10">@Strings.mode10Seconds</listEntry>
	            <listEntry value="30">@Strings.mode30Seconds</listEntry>
	            <listEntry value="60">@Strings.mode60Seconds</listEntry>
	        </settingConfig>
		</setting>
		
		<setting propertyKey="@Properties.pwm" title="@Strings.powerModeTitle">
			<settingConfig type="list">
	            <listEntry value="-1">@Strings.modeCurrent</listEntry>
	            <listEntry value="0">@Strings.modeAverage</listEntry>
	            <listEntry value="3">@Strings.mode3Seconds</listEntry>
	            <listEntry value="5">@Strings.mode5Seconds</listEntry>
	            <listEntry value="10">@Strings.mode10Seconds</listEntry>
	            <listEntry value="30">@Strings.mode30Seconds</listEntry>
	            <listEntry value="60">@Strings.mode60Seconds</listEntry>
	        </settingConfig>
		</setting>
	</settings>
</resources>
