<resources>
	<properties>
		<property id="paceMode" type="number">0</property>
		<property id="cadenceMode" type="number">0</property>
		<property id="heartRateMode" type="number">0</property>
		<property id="colourText" type="boolean">true</property>
		
		<property id="goal1Name" type="string">5K</property>
		<property id="goal1Distance" type="number">5000</property>
		<property id="goal1TargetTime" type="number">1500</property>
		
		<property id="goal2Name" type="string"></property>
		<property id="goal2Distance" type="number">0</property>
		<property id="goal2TargetTime" type="number">0</property>
		
		<property id="goal3Name" type="string"></property>
		<property id="goal3Distance" type="number">0</property>
		<property id="goal3TargetTime" type="number">0</property>
		
		<property id="goal4Name" type="string"></property>
		<property id="goal4Distance" type="number">0</property>
		<property id="goal4TargetTime" type="number">0</property>
		
		<property id="goal5Name" type="string"></property>
		<property id="goal5Distance" type="number">0</property>
		<property id="goal5TargetTime" type="number">0</property>
		
		<property id="goal6Name" type="string"></property>
		<property id="goal6Distance" type="number">0</property>
		<property id="goal6TargetTime" type="number">0</property>
		
		<property id="goal7Name" type="string"></property>
		<property id="goal7Distance" type="number">0</property>
		<property id="goal7TargetTime" type="number">0</property>
		
		<property id="goal8Name" type="string"></property>
		<property id="goal8Distance" type="number">0</property>
		<property id="goal8TargetTime" type="number">0</property>
		
		<property id="goal9Name" type="string"></property>
		<property id="goal9Distance" type="number">0</property>
		<property id="goal9TargetTime" type="number">0</property>
		
		<property id="goal10Name" type="string"></property>
		<property id="goal10Distance" type="number">0</property>
		<property id="goal10TargetTime" type="number">0</property>
	</properties>
	<strings>
		<string id="paceModeTitle">Pace mode</string>
		<string id="paceModeCurrent">Current pace</string>
		<string id="paceModeAverage">Average pace</string>
		<string id="paceMode3Seconds">Average pace (last 3 seconds)</string>
		<string id="paceMode5Seconds">Average pace (last 5 seconds)</string>
		<string id="paceMode10Seconds">Average pace (last 10 seconds)</string>
		<string id="paceMode30Seconds">Average pace (last 30 seconds)</string>
		
		<string id="cadenceModeTitle">Cadence mode</string>
		<string id="cadenceModeCurrent">Current cadence</string>
		<string id="cadenceModeAverage">Average cadence</string>
		<string id="cadenceMode3Seconds">Average cadence (last 3 seconds)</string>
		<string id="cadenceMode5Seconds">Average cadence (last 5 seconds)</string>
		<string id="cadenceMode10Seconds">Average cadence (last 10 seconds)</string>
		<string id="cadenceMode30Seconds">Average cadence (last 30 seconds)</string>
		
		<string id="heartRateModeTitle">Heart rate mode</string>
		<string id="heartRateModeCurrent">Current heart rate</string>
		<string id="heartRateModeAverage">Average heart rate</string>
		<string id="heartRateMode3Seconds">Average heart rate (last 3 seconds)</string>
		<string id="heartRateMode5Seconds">Average heart rate (last 5 seconds)</string>
		<string id="heartRateMode10Seconds">Average heart rate (last 10 seconds)</string>
		<string id="heartRateMode30Seconds">Average heart rate (last 30 seconds)</string>
		
		<string id="colourTextTitle">Colour text (green if on target, red if not)</string>
		
		<string id="goal1NameTitle">Goal 1 name (optional)</string>
		<string id="goal1DistanceTitle">Goal 1 distance</string>
		<string id="goal1TargetTimeTitle">Goal 1 target time</string>
		
		<string id="goal2NameTitle">Goal 2 name (optional)</string>
		<string id="goal2DistanceTitle">Goal 2 distance</string>
		<string id="goal2TargetTimeTitle">Goal 2 target time</string>
		
		<string id="goal3NameTitle">Goal 3 name (optional)</string>
		<string id="goal3DistanceTitle">Goal 3 distance</string>
		<string id="goal3TargetTimeTitle">Goal 3 target time</string>
		
		<string id="goal4NameTitle">Goal 4 name (optional)</string>
		<string id="goal4DistanceTitle">Goal 4 distance</string>
		<string id="goal4TargetTimeTitle">Goal 4 target time</string>
		
		<string id="goal5NameTitle">Goal 5 name (optional)</string>
		<string id="goal5DistanceTitle">Goal 5 distance</string>
		<string id="goal5TargetTimeTitle">Goal 5 target time</string>
		
		<string id="goal6NameTitle">Goal 6 name (optional)</string>
		<string id="goal6DistanceTitle">Goal 6 distance</string>
		<string id="goal6TargetTimeTitle">Goal 6 target time</string>
		
		<string id="goal7NameTitle">Goal 7 name (optional)</string>
		<string id="goal7DistanceTitle">Goal 7 distance</string>
		<string id="goal7TargetTimeTitle">Goal 7 target time</string>
		
		<string id="goal8NameTitle">Goal 8 name (optional)</string>
		<string id="goal8DistanceTitle">Goal 8 distance</string>
		<string id="goal8TargetTimeTitle">Goal 8 target time</string>
		
		<string id="goal9NameTitle">Goal 9 name (optional)</string>
		<string id="goal9DistanceTitle">Goal 9 distance</string>
		<string id="goal9TargetTimeTitle">Goal 9 target time</string>
		
		<string id="goal10NameTitle">Goal 10 name (optional)</string>
		<string id="goal10DistanceTitle">Goal 10 distance</string>
		<string id="goal10TargetTimeTitle">Goal 10 target time</string>
		
		<string id="goalNamePrompt">Up to 6 characters, e.g. 8K or blank for automatic</string>
		<string id="goalDistancePrompt">In meters, e.g. 8000 for 8K</string>
		<string id="goalTargetTimePrompt">In seconds, e.g. 1800 for 30 minutes</string>
		
		<string id="goalNameErrorMessage">Custom goal name is limited to 6 characters</string>
		<string id="goalDistanceErrorMessage">Custom goal distance must be less than 999,999</string>
		<string id="goalTargetTimeErrorMessage">Custom goal time must be less than 999,999</string>
	</strings>
	<settings>
		<setting propertyKey="@Properties.paceMode" title="@Strings.paceModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.paceModeCurrent</listEntry>
	            <listEntry value="1">@Strings.paceModeAverage</listEntry>
	            <listEntry value="2">@Strings.paceMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.paceMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.paceMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.paceMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.cadenceMode" title="@Strings.cadenceModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.cadenceModeCurrent</listEntry>
	            <listEntry value="1">@Strings.cadenceModeCurrent</listEntry>
	            <listEntry value="2">@Strings.cadenceMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.cadenceMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.cadenceMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.cadenceMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.heartRateMode" title="@Strings.heartRateModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.heartRateModeCurrent</listEntry>
	            <listEntry value="1">@Strings.heartRateModeCurrent</listEntry>
	            <listEntry value="2">@Strings.heartRateMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.heartRateMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.heartRateMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.heartRateMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.colourText" title="@Strings.colourTextTitle">
			<settingConfig type="boolean" />
		</setting>
		
		<setting propertyKey="@Properties.goal1Name" title="@Strings.goal1NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal1Distance" title="@Strings.goal1DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal1TargetTime" title="@Strings.goal1TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal2Name" title="@Strings.goal2NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal2Distance" title="@Strings.goal2DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal2TargetTime" title="@Strings.goal2TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal3Name" title="@Strings.goal3NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal3Distance" title="@Strings.goal3DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal3TargetTime" title="@Strings.goal3TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal4Name" title="@Strings.goal4NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal4Distance" title="@Strings.goal4DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal4TargetTime" title="@Strings.goal4TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal5Name" title="@Strings.goal5NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal5Distance" title="@Strings.goal5DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal5TargetTime" title="@Strings.goal5TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal6Name" title="@Strings.goal6NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal6Distance" title="@Strings.goal6DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal6TargetTime" title="@Strings.goal6TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal7Name" title="@Strings.goal7NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal7Distance" title="@Strings.goal7DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal7TargetTime" title="@Strings.goal7TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal8Name" title="@Strings.goal8NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal8Distance" title="@Strings.goal8DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal8TargetTime" title="@Strings.goal8TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal9Name" title="@Strings.goal9NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal9Distance" title="@Strings.goal9DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal9TargetTime" title="@Strings.goal9TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal10Name" title="@Strings.goal10NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="6" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal10Distance" title="@Strings.goal10DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal10TargetTime" title="@Strings.goal10TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
	</settings>
</resources>
