<resources>
	<properties>
		<property id="paceMode" type="number">0</property>
		<property id="cadenceMode" type="number">0</property>
		<property id="heartRateMode" type="number">0</property>
		<property id="colourText" type="boolean">false</property>
		
		<property id="goal1Distance" type="number">5000</property>
		<property id="goal1TargetTime" type="number">1500</property>
		<property id="goal1Name" type="string">5K</property>
		
		<property id="goal2Distance" type="number">0</property>
		<property id="goal2TargetTime" type="number">0</property>
		<property id="goal2Name" type="string"></property>
	</properties>
	<strings>
		<string id="paceModeTitle">Pace mode</string>
		<string id="paceModeCurrent">Current pace</string>
		<string id="paceModeAverage">Average pace</string>
		<string id="paceMode3Seconds">Average pace (last 3 seconds)</string>
		<string id="paceMode5Seconds">Average pace (last 5 seconds)</string>
		<string id="paceMode10Seconds">Average pace (last 10 seconds)</string>
		<string id="paceMode30Seconds">Average pace (last 30 seconds)</string>
		
		<string id="cadenceModeTitle">Cadence mode</string>
		<string id="cadenceModeCurrent">Current cadence</string>
		<string id="cadenceModeAverage">Average cadence</string>
		<string id="cadenceMode3Seconds">Average cadence (last 3 seconds)</string>
		<string id="cadenceMode5Seconds">Average cadence (last 5 seconds)</string>
		<string id="cadenceMode10Seconds">Average cadence (last 10 seconds)</string>
		<string id="cadenceMode30Seconds">Average cadence (last 30 seconds)</string>
		
		<string id="heartRateModeTitle">Heart rate mode</string>
		<string id="heartRateModeCurrent">Current heart rate</string>
		<string id="heartRateModeAverage">Average heart rate</string>
		<string id="heartRateMode3Seconds">Average heart rate (last 3 seconds)</string>
		<string id="heartRateMode5Seconds">Average heart rate (last 5 seconds)</string>
		<string id="heartRateMode10Seconds">Average heart rate (last 10 seconds)</string>
		<string id="heartRateMode30Seconds">Average heart rate (last 30 seconds)</string>
		
		<string id="colourTextTitle">Colour text (green if on target, red if not)</string>
		
		<string id="goal1DistanceTitle">Goal 1 distance</string>
		<string id="goal1TargetTimeTitle">Goal 1 target time</string>
		<string id="goal1NameTitle">Goal 1 name</string>
		
		<string id="goal2DistanceTitle">Goal 2 distance</string>
		<string id="goal2TargetTimeTitle">Goal 2 target time</string>
		<string id="goal2NameTitle">Goal 2 name</string>
		
		<string id="goalDistancePrompt">In meters, e.g. 8000 for 8K</string>
		<string id="goalTargetTimePrompt">In seconds, e.g. 1800 for 30 minutes</string>
		<string id="goalNamePrompt">Up to 4 characters, e.g. 8K or blank for automatic</string>
		
		<string id="goalDistanceErrorMessage">Custom goal distance must be less than 999,999</string>
		<string id="goalTargetTimeErrorMessage">Custom goal time must be less than 999,999</string>
		<string id="goalNameErrorMessage">Custom goal name is limited to 4 characters</string>
	</strings>
	<settings>
		<setting propertyKey="@Properties.paceMode" title="@Strings.paceModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.paceModeCurrent</listEntry>
	            <listEntry value="1">@Strings.paceModeAverage</listEntry>
	            <listEntry value="2">@Strings.paceMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.paceMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.paceMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.paceMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.cadenceMode" title="@Strings.cadenceModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.cadenceModeCurrent</listEntry>
	            <listEntry value="1">@Strings.cadenceModeCurrent</listEntry>
	            <listEntry value="2">@Strings.cadenceMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.cadenceMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.cadenceMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.cadenceMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.heartRateMode" title="@Strings.heartRateModeTitle">
			<settingConfig type="list">
	            <listEntry value="0">@Strings.heartRateModeCurrent</listEntry>
	            <listEntry value="1">@Strings.heartRateModeCurrent</listEntry>
	            <listEntry value="2">@Strings.heartRateMode3Seconds</listEntry>
	            <listEntry value="3">@Strings.heartRateMode5Seconds</listEntry>
	            <listEntry value="4">@Strings.heartRateMode10Seconds</listEntry>
	            <listEntry value="5">@Strings.heartRateMode30Seconds</listEntry>
	        </settingConfig>
		</setting>
		<setting propertyKey="@Properties.colourText" title="@Strings.colourTextTitle">
			<settingConfig type="boolean" />
		</setting>
		
		<setting propertyKey="@Properties.goal1Distance" title="@Strings.goal1DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal1TargetTime" title="@Strings.goal1TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal1Name" title="@Strings.goal1NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="4" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
		
		<setting propertyKey="@Properties.goal2Distance" title="@Strings.goal2DistanceTitle" prompt="@Strings.goalDistancePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalDistanceErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal2TargetTime" title="@Strings.goal2TargetTimeTitle" prompt="@Strings.goalTargetTimePrompt">
			<settingConfig type="numeric" max="999999" errorMessage="@Strings.goalTargetTimeErrorMessage" />
		</setting>
		<setting propertyKey="@Properties.goal2Name" title="@Strings.goal2NameTitle" prompt="@Strings.goalNamePrompt">
			<settingConfig type="alphaNumeric" maxLength="4" errorMessage="@Strings.goalNameErrorMessage" />
		</setting>
	</settings>
</resources>
